* {
  margin: 0;
  padding: 0;
}
header {
  padding: 10px;
  box-shadow: 0px 0px 0px 1px rgba(41, 41, 41, 0.25);
}
img {
  position: fixed;
  height: 40px;
  width: 40px;
  left: 1%;
  top: 3%;
}
.logo {
  color: rgb(0, 0, 0);
  font-weight: lighter;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  font-weight: 500;
  padding: 10px 25px;
  margin-left: 36.5%;
}
body {
  /* background-image: url("blackback.jpg"); */
  background-color: powderblue;
  background-size: cover;
  background-position: top;
}
.card {
  display: grid;
  text-align: center;
  grid-template-rows: 260px 31px 8px;
  grid-template-areas: "text";
  font-family: roboto;
  /* border-radius: 10px 10px 0px 0px; */
  background-color: #353434b4;
  box-shadow: 0px 2px 2 px #0a090993;
  width: 900px;
  height: 606px;
  position: fixed;
  top: 18%;
  left: 20%;
  transition: 0.5s ease;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 0 px 0px 5px 5px rgb(0, 0, 0, 0.349);
}
h2 {
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  font-size: 31px;
  left: 43%;
  top: 24%;
  color: black;
  text-align: center;
}
.Home {
  background-color: #f53845d5;
  border: 2px solid transparent;
  color: white;
  border-radius: 5px 5px 5px 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 90%;
  top: 1.5%;
  transition: 0.3s ease;
}
.Home:hover {
  background-color: #6e45e1;
}
table {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  width: 100%;
  height: 100%;

  position: absolute;
}
table,
th,
td {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 9px 9px 9px 9px;
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
  text-align: left;
  color: white;
}
#t01 tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.45);
}
#t01 th {
  background-color: rgba(0, 0, 0, 0.616);
  color: white;
}
