* {
  margin: 0;
  padding: 0;
}
header {
  padding: 10px;
  box-shadow: 0px 0px 0px 1px rgba(77, 69, 69, 0.055);
}
.logo {
  color: rgb(0, 0, 0);
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  font-weight: 500;
  padding: 10px 25px;
  margin-left: 36.6%;
}
body {
  background-image: url("Design1re.png");
  background-size: cover;
  background-position: inherit;
}
.Home {
  background-color: #f53845d5;
  border: 2px solid transparent;
  color: rgb(255, 255, 255);
  border-radius: 5px 5px 5px 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 90%;
  top: 1.5%;
  transition: 0.3s ease;
}
.Home:hover {
  background-color: #6e45e1;
}
.vc {
  background-color: #f53845d5;
  border: 2px solid transparent;
  color: white;
  border-radius: 5px 5px 5px 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 76%;
  transition: 0.3s ease;
  top: 1.5%;
}
.vc:hover {
  background-color: #6e45e1;
}
.card {
  background-color: rgb(35, 120, 189);
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.281);
  height: 580px;
  width: 450px;
  position: absolute;
  top: 16%;
  left: 33%;
  border-radius: 2px 2px 2px 2px;
}
.send {
  position: absolute;
  left: 37.5%;
  top: 37%;
}
.send input[type="text"],
select {
  font-size: 20px;
  font-family: monospace;
  width: 300px;
  padding: 8px 18px;
  margin: 5px 0;
  display: inline-block;
  border: 5px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  position: absolute;
  top: 90%;
}
.send label {
  font-size: 20px;
  font-family: monospace;
}
.recieve {
  position: absolute;
  left: 37.5%;
  top: 50%;
}
.recieve input[type="text"],
select {
  font-size: 20px;
  font-family: monospace;
  width: 300px;
  padding: 8px 18px;
  margin: 5px 0;
  display: inline-block;
  border: 5px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  position: absolute;
  top: 80%;
}
.recieve label {
  font-size: 20px;
  font-family: monospace;
}
#addBtn {
  font-family: monospace;
  font-weight: 300;
  background: #f53845c9;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 21px 44px;
  text-align: center;
  border: 3px solid transparent;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  top: 80%;
  left: 42%;
  border-radius: 10px 10px 10px;
  box-shadow: 0 0 1px 1px rgb(0, 0, 0, 0.15);
}
.amt {
  position: absolute;
  left: 37.5%;
  top: 63%;
}
.amt input[type="number"],
select {
  font-size: 20px;
  font-family: monospace;
  width: 300px;
  padding: 8px 18px;
  margin: 5px 0;
  display: inline-block;
  border: 5px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  position: absolute;
  top: 90%;
}
.amt label {
  font-size: 20px;
  font-family: monospace;
}
.id {
  position: absolute;
  left: 37.5%;
  top: 23%;
}
.id input[type="number"],
select {
  font-size: 20px;
  font-family: monospace;
  width: 300px;
  padding: 8px 18px;
  margin: 5px 0;
  display: inline-block;
  border: 5px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  position: absolute;
  top: 90%;
}
.id label {
  font-size: 20px;
  font-family: monospace;
}
